.records{
    border-collapse: collapse;  
    height: 85px;
    user-select: none;
    margin:auto;
}

.records th{
    width: 580px;
    background-color: rgb(0, 113, 219);
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
}

thead{
    color: #1F1F1F;
}

.records th.light{
    width: 580px;
    background-color: rgb(31, 154, 255);
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    padding-left: 50px;
}

@media(max-width:480px){
    .records{
        border-spacing: 5px;
    }
    .records thead{
        display:none;
    }
    .records tr{
        box-shadow: 0 1px 3px var(--shadow-color);
    }
    .records td:not(:first-child){
        display:flex;
        justify-content: space-between;
        padding: 0 20px;
    }

    .records td{
        margin:10px 0;
    }

    .records tr:hover{
        background-color: inherit;
    }
}